body {
    max-width: 1199px;
    margin: 0 auto;
}

@media (min-width: 1199.98px) {
    body {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        margin: 8px auto;
    }

}

#background-wrapper {
    background-color: white;
    margin: 0;
}

.content-wrapper {
    margin: 32px;
}