.horizontal-align {
    display: flex;
    flex-direction: row;
}

#new-newsletter-icon {
    font-size: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#new-newsletter-icon:hover {
    cursor: pointer;
}
#new-questionAnswer-icon {
    font-size: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#new-answer-icon:hover {
    cursor: pointer;
}
#new-answer-icon {
    font-size: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#new-questionAnswer-icon:hover {
    cursor: pointer;
}
#Logo {
    width: 70vw;
    display: inline-block;
    vertical-align: middle;
}

#App-logo {
    width: 6vw;
    padding-left: 1vw;
}

#App-header {
  background-color: #353a3f;
  width: 100%vw;
  color: white;
  padding: 1vw;
  margin: 0;
}
.bodyHeight{
height: 100%vw;
}
#App-intro {
  font-size: large;
}

.pages {
  width: 25vw;
  display: inline-block;
  vertical-align: middle;
}

.banner {
    padding: 1vw;
    background-color: #005d9c;
    vertical-align: center;
}
.footerSpace {
    width: 100%vw;
    height: 7vh;
    padding: 1vw;
    background-color: #353a3f;
}
.headerButton {
    background-color: #5EB85E;
    color: white;
}
.square {
    border-style: dotted;
    height:200px;
    color:#F0F0F0;
}
.plusAlign{
    padding-left:  110px;
    padding-top:  70px;
    color:#F0F0F0;
}
.plusLabelAlign{
    padding-left:  70px;
    color:#F0F0F0;
}
.glyphicon-plus {
    font-size: 35px;
    pointer-events: all;
}
.backgroundFill {
    width: 100%vw;
    padding: 1vw;
    margin: 0;
    background-color: #F0F0F0;
}

.box {
    padding: 0 5px 0 5px;
    padding: 1vw;
    margin: 0;
}
.box .inner {
    background-color: #F0F0F0;
    padding: 1vw;
    margin: 0;
}

 @media(min-width:768px) {
     #page-wrapper{
        min-height: 768px;
    }

}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 3px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  5px; }
.right-addon input { padding-right: 5px; }

