.nav-secondary button {
    background-color: #5EB85E;
    color: white;
}

.site-card, .site-card a, .site-card a:visited, .site-card a:active  {
    color:#b7b7b7;
}

.site-card--empty {
    height: 200px;
    border: 1px dashed #b7b7b7;
    text-align: center;
    padding-top: 20px;
    min-width: 150px;
}

.site-card--info {
    height: 200px;
    border: 1px solid #b7b7b7;
    text-align: left;
    padding: 10px;
}

@media (min-width: 992px) {
    .site-card--empty {
        height: 200px;
        border: 1px dashed #b7b7b7;
        text-align: center;
        white-space: nowrap;
        padding-top: 0;
    }

    .site-card--empty:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .site-card .no-info {
        display: inline-block;
        vertical-align: middle;
    }
}

.site-card .fas {
    font-size: 35px;
    color: #b7b7b7;
}

.site-card .fa-plus {
    cursor: pointer ;
}

.titleCase {
    text-transform: capitalize;
}


