body {
  margin: 0;
  font-family: Calibri;
}

#Logo {
  width: 70vw;
  display: inline-block;
  vertical-align: middle;
}

#App-logo {
  width: 6vw;
  padding-left: 2vw;
}

#App-header {
     background-color: #353a3f;
     width: 97vw;
     color: white;
     padding: 1vw;
     margin: 0;
}

#App-intro {
  font-size: large;
}

.pages {
  width: 25vw;
  display: inline-block;
  vertical-align: middle;
}

.banner {
  width: 99vw;
  height: 5vh;
  background-color: #005d9c;
}

a {
  color: black;
  text-size: 1.5vh;
  text-decoration: none;
}

.pageTitle {
  width: 74vw;
  font-size: 2vh;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

h3 {
  margin: 0;
  padding-left: 3vw;
}

.buttons {
  width: 24vw;
  vertical-align: middle;
  display: inline-block;
  height: 5vh;
}

.cancelButton {
  width: 7vw;
  background-color: #FFFCFA;
  display: inline-block;
  vertical-align: middle;
  height: 3vh;
  margin-top: 1vh;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5vh;
}

.cancelBox {
    width: 7vw;
    background-color: #FFFCFA;
}

.confirmButton {
  width: 7vw;
  background-color: #5EB85E;
  display: inline-block;
  margin-left: 2vw;
  vertical-align: middle;
  height: 3vh;
  margin-top: 1vh;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 1.5vh;
}

#pIdBox {
     width: 60vw;
     margin: 2vh 2vw;
     background-color: #F0F0F0;
     height: 12vh;
     padding-top: 1vh;
     padding-left: 2vw;
}

.textInput {
    width: 10vw;
    height: 3vh;
    font-size: 1.5vh;
}

.subTitle {
    font-size: 1.5vh;
    margin-bottom: 1vh;
    vertical-align: middle;
}

.required {
    color: red;
    display: inline-block;
}

#row {
    width: 95vw;
    height: 75.5vh;
    margin: 2vh 3vw;
}

#rLeft {
    width: 65vw;
    height: 75vh;
    margin-right: 1vw;
    display: inline-block;
    vertical-align: middle;
}

#sitesListBox {
    width: 60vw;
    margin: 2vh 2vw;
    background-color: #F0F0F0;
    height: 55vh;
    padding-top: 1vh;
    padding-left: 2vw;
}

#rRight {
    width: 25vw;
    height: 71vh;
    background-color: #F7F7F7;
    display: inline-block;
    vertical-align: middle;
}

#logSubTitle {
    width: 24vw;
    background-color: #F0F0F0;
    margin: 0;
    height: 4vh;
    line-height: 4vh;
    vertical-align: middle;
    padding-left: 1vw;
}