.form-group.required .control-label:after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.form-group .footnote {
  margin: 5px 0 0 5px;
}

.newsletterInput {
  margin-bottom: 5px;
}

.answerInput {
  margin-bottom: 5px;
}

/*slider switches*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: left;
}

.switch input {
  display: none;
}

xmp {
  white-space: pre-wrap;
  margin: 0 0 0 0 !important;
  background-color: white;
}

.aClipBoard {
  float: right;
  background-color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}

input.primary:checked + .slider {
  background-color: #2196F3;
}

input.success:checked + .slider {
  background-color: #8bc34a;
}

input.info:checked + .slider {
  background-color: #3de0f5;
}

input.warning:checked + .slider {
  background-color: #FFC107;
}

input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* validation icons in text input*/
input + span::after {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

input.touched:valid + span::after {
  content: "\f00c";
  color: green;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

input.touched:invalid + span::after {
  content: "\f00d";
  color: #ce0000;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

input.empty + span::after {
  content: " " !important;
}

input.form-control {
  padding-right: 2.2rem;
}

input[type=text]::-ms-clear {
  width: 0;
  height: 0;
}

.validateMessage {
  margin-top: 38px;
}
/* multi select */
.lwms-main{font-family: Arial,Helvetica,sans-serif; background: url('../img/doublearrow.png') no-repeat 204px 110px; width:435px;}

.lwms-main .lwms-left, .lwms-main .lwms-right{width: 200px; color: #555; float: left;}

.lwms-main .lwms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
}

.lwms-selected{display:none;}

.lwms-main .lwms-left{margin-right: 35px;}

.lwms-main ul{margin: 0; list-style-type: none;}

.lwms-main ul.lwms-list{
  height: 200px;
  padding: 0px 0px;
  overflow-y: auto;
  background:#fff;
}

.lwms-main .lwms-left li.lwms-selectli,
.lwms-main .lwms-right li.lwms-selectli{
  padding: 4px 10px;
  color: #555;
  font-size: 12px;
  line-height:16px;
  border-bottom:1px solid #D4D4D4;
}

.lwms-filterhead {
  color: #4A4A4A;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  vertical-align: middle;
}

.lwms-filterhead a {
  color: #4A4A4A;
  text-decoration: none;
}

.lwms-filcount {
  color: #078697;
  font-size: 14px;
}

.lwms-filterhead a:hover { text-decoration: underline; }

.lwms-main li.lwms-selectli:hover,
.lwms-main .lwms-right li:hover{
  cursor: pointer;
  text-decoration: none;
  color:#fff;
  background-color: #1a849b;
}

/* clear fix */
.lwms-cf:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.lwms-cf { display: inline-block;}
html[xmlns] .lwms-cf {display: block;}
* html .lwms-cf { height: 1%;}