.header-primary-outer {
    background: #000;
    padding: 8px 0;
}

.header-secondary-outer {
    background: #005d9c;
    padding: 8px 0;
}
.header-primary-inner, .header-secondary-inner {
    margin: 0 32px;
}

header .nav-primary {
    padding-top: 20px;
}
header .nav-primary a,header .nav-primary a:visited, .header .nav-primary a:active {
    color: #fff;
    font-size: 2vh;
    text-underline-position: under;
}
header .nav-primary a.active {
    text-decoration: underline;
    text-underline-position: under;
}

.modal-header-secondary {
    background: #005d9c;
    padding: 8px 0;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    font-weight: bold;
    color: white;
}

.logo {
    width: 65px;
    margin-left: -10px;
}

nav {
    background-color: #005d9c;
    color: white;
}

nav .title {
    margin-top: 0.5vh;
}
nav .nav-secondary {
    display: block;
    margin-top: 0.5vh;
}
nav a.nav-secondary, nav a:visited.nav-secondary, nav a:active.nav-secondary{
    color: #fff;
    text-underline-position: under;
}
nav button {
    background-color: #5EB85E;
    color: white;
}

a.nav-spacing {
padding: 0px 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}


