body {
    background-color: white;
    margin: 0;
}

.landingPage {
    margin: 25vh 15vw;
}

.leftBox {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

.rightBox {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.logo {
    width: 35% !important;
    display: block;
    margin: auto;
    padding-top: 5%;
}

h2 {
    font-weight: bolder;
}

.lPButton {
    text-align: right !important;
}