

h4 {
    font-size: 1vw;
}

#logoBox {
    height: 10vh;
    width:  10vh
 }

#uniLogo {
    margin: 1rem;
}

#SSOLoginBox{
    background-color: #F0F0F0;
    float: right;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    margin-right: 10px;
    text-align: center;
    }

.ssoButton{
    display: block !important;
}

#ssoLoginError{
color: red;
}
.column {
  display: table-cell;
  float: left;
  width: 50%;
  padding: 5px;
  /*height: 100%; /* Should be removed. Only for demonstration */
}
.logoColumn {
    display: inline;
  padding: 10px;
  /*height: 100%; /* Should be removed. Only for demonstration */
}
.ssoTextColumn {
display: inline-block;
  margin: 20px;
  margin-right: 0px;
  margin-top: 2vh;
  width: 65%;
  /*height: 100%; /* Should be removed. Only for demonstration */
}
#loginBox {
    background-color: #F0F0F0;
    float: left;
    width: 70%;
    margin-right: -1px; /* Thank you IE */
    margin-left:10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;

}
#container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

#loginError {
    color: red;
    padding: 0px;
}

#forgotCreds {
    width: 40%;
    display: inline-block;
    text-decoration: underline;
    vertical-align: middle;
}
