<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="head::head"></div>
  <div th:replace="head-css::css"></div>
  <script th:src="@{/js/addchildsite.js}"></script>
  <title>Consumer Profile Store - Add child site</title>
</head>
<body>
<div id="background-wrapper">
  <form id="addChildSite">

    <div th:replace="header::header('addChildSite')"></div>
    <div class="header-secondary-outer">
      <div class="header-secondary-inner">
        <div class="container-fluid">
          <nav class="row">
            <div class="col-1 pl-0">
              <a th:href="@{/mySites}" class="nav-secondary">&lt; Back</a>
            </div>
            <div class="col-3">
              <h5 class="title">Add child site</h5>
            </div>
            <div class="col-8 pr-0 text-right">
              <a th:href="@{/mySites}" class="btn btn-light">Cancel</a>
              <button data-submit-button class="btn btn-success" type="submit" form="addChildSite">Confirm</button>
            </div>
          </nav>
        </div>
      </div>
    </div>


    <div class="content-wrapper">
      <div class="container-fluid">

        <div class="row bg-light mb-1 pt-2">
          <div class="col-11 offset-1">
            <p>Use this form to create a new site. If the new site already exists, an error will appear when clicking on confirm.</p>
            <hr/>
            <div data-console-log class="p-2 mb-2 mt-2 rounded border border-dark d-none">
              <div id="form-messages"></div>
              <a href="javascript:$('#form-messages').empty();void(0);">Clear logs</a>
            </div>
          </div>
        </div>


        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group required  position-relative">
              <label class="control-label" for="apiKey">API Key</label>
              <input id="apiKey" type="text" name="siteApiKey" class="form-control" placeholder="Enter the API Key of the first site " maxLength="80"
                     pattern="^[a-zA-Z0-9-_]{66}$" required/><span></span>

            </div>
          </div>
        </div>

        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group required">
              <label class="control-label" for="brandName">Brand</label>
              <select class="form-control" name="brand" id="brandName" required>
                <option value="" disabled selected>Select your Brand</option>
                <option th:each="bcMap : ${brandCodes}" th:value="${bcMap.brandName}"
                        th:text="${bcMap.brandName}"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group position-relative">
              <label for="campaignId">Campaign ID</label>
              <input
                  id="campaignId" type="text" name="campaignId" class="form-control"
                  placeholder="Enter a Campaign ID " maxLength="64"
                  pattern="^[a-zA-Z0-9]+$"/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="emailServiceId">Email Service ID</label>
              <input id="emailServiceId" type="text" name="serviceIdEmail" class="form-control"
                     placeholder="Enter a Service ID "
                     maxLength="64" pattern="^[a-zA-Z0-9_]+$"/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="postServiceId">Post Service ID</label>
              <input id="postServiceId" type="text" name="serviceIdPost" class="form-control"
                     placeholder="Enter a Post Service ID "
                     maxLength="64" pattern="^[a-zA-Z0-9_]+$"/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="smsServiceId">SMS Service ID</label>
              <input id="smsServiceId" type="text" name="serviceIdSms" class="form-control"
                     placeholder="Enter an SMS Service ID "
                     maxLength="64" pattern="^[a-zA-Z0-9_]+$"/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="mmsServiceId">MMS Service ID</label>
              <input id="mmsServiceId" type="text" name="serviceIdMms" class="form-control"
                     placeholder="Enter an MMS Service ID "
                     maxLength="64" pattern="^[a-zA-Z0-9_]+$"/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="phoneServiceId">Phone Service ID</label>
              <input id="phoneServiceId" type="text" name="serviceIdPhone" class="form-control"
                     placeholder="Enter a Phone Service ID "
                     maxLength="64" pattern="^[a-zA-Z0-9_]+$"/><span></span>
            </div>

            <div class="form-group">
              <label for="newsletterId">Newsletter Service ID</label>
              <div id="newsletter-inputs-container">
                <div class="position-relative">
                  <input type="text" id="newsletterId" name="serviceIdNewsletters" class="form-control newsletterInput"
                         placeholder="Enter a Newsletter Service ID " maxLength="64" pattern="^[a-zA-Z0-9_]+$"/><span></span>
                </div>
              </div>
              <div class="footnote"><span class="fas fa-plus" id="new-newsletter-icon"></span> Add another newsletter id</div>
            </div>

            <div class="form-group required position-relative">
              <label for="url" class="control-label">Wesbite URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="url" id="url" class="form-control" placeholder="Enter a Website URL " required maxLength="100"/><span></span>
            </div>
          </div>
        </div>
        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group required">
              <label class="control-label" for="doubleOptInRequired">Double Opt-In</label>
              <select class="form-control" id="doubleOptInRequired" name="doubleOptInRequired" required>
                <option value="" disabled selected> ---</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row bg-light mb-1 pt-1">
          <div class="col-3 offset-1">
            <div class="form-group position-relative">
              <label class="control-label" for="terms">T&amp;C URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="terms" id="terms" class="form-control" placeholder="Enter a T&C URL " maxLength="100"/><span></span>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group required position-relative">
              <label class="control-label" for="privacyLink">Privacy URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="privacyLink" id="privacyLink" class="form-control" placeholder="Enter a Privacy URL " required
                     maxLength="100"/><span></span>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group required position-relative">
              <label class="control-label" for="cookiesLink">Cookie URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="cookiesLink" id="cookiesLink" class="form-control" placeholder="Enter a Cookie URL " required
                     maxLength="100"/><span></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
  <div th:replace="footer_js :: js"></div>
</div>
<script th:src="@{/js/newNewsletterInput.js}"></script>
<script th:src="@{/js/formValidation.js}"></script>

</body>
</html>