<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="head::head"></div>
  <div th:replace="head-css::css"></div>
  <title>Consumer Profile Store - Add New Form Journey</title>
</head>
<body>
<div id="background-wrapper">
  <form id="addFormJourney">
    <div class="header-wrapper">
      <div th:replace="header::header('addFormJourney')"></div>
      <div class="header-secondary-outer">
        <div class="header-secondary-inner">
          <div class="container-fluid">
            <nav class="row">
              <div class="col-1 pl-0">
                <a th:href="@{/myProfileStore}" class="nav-secondary">&lt; Back</a>
              </div>
              <div class="col-3">
                <h5 class="title">Add New Form Journey</h5>
              </div>
              <div class="col-8 pr-0 text-right">
                <a th:href="@{/myProfileStore}" class="btn btn-light">Cancel</a>
                <button data-submit-button class="btn btn-success" type="submit" form="addFormJourney" id="addFormJourneyBt">Confirm</button>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <div class="row bg-light mb-1 pt-2">
          <div class="col-10 offset-1">
            <p>Use this form to add a new form journey. Output logs will be created below, please <b>ignore</b> the below logs if you are using <b>Adobe
              Experience Manager (AEM)</b> to render forms on your site.</p>
            <hr/>

            <div data-console-log class="p-2 mb-2 mt-2 rounded border d-none">
              <div id="form-messages"></div>
              <a href="javascript:$('#form-messages').empty();void(0);">Clear logs</a>
            </div>
          </div>
        </div>

        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group required position-relative">
              <label class="control-label" for="apiKey">API Key</label>
              <input id="apiKey" type="text" name="siteApiKey" class="form-control" placeholder="Enter a Profile Store API Key" maxLength="80"
                     pattern="^[a-zA-Z0-9-_]{66}$" required th:value="${apiKey}"/><span></span>

            </div>
          </div>
          <div class="col-4">
            <div class="validateMessage" id="validateRespMsg"></div>
          </div>
        </div>


        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group required">
              <label class="control-label" for="market">Market</label>
              <select class="form-control" data-market-select id="market" name="market" required onchange="addFormJourney.getBrandNameByAPIKey(this)">
                <option value="" disabled selected>Select your Market</option>
                <option th:each="marketMap : ${markets}" th:value="${marketMap.countryCode}"
                        th:text="${marketMap.market}"></option>
              </select>
            </div>

            <div class="row">
              <div class="form-group required">
                <label class="control-label" for="language">Select your Language</label>
                <select class="form-control" language-select id="language" name="language" required multiple="multiple">

                  <option th:each="languageMap : ${languages}" th:value="${languageMap.isoCode}" th:text="${languageMap.englishName}" th:selected="${languageMap.isoCode=='en'}"></option>
                </select>
              </div>
            </div>

            <div class="form-group ">
                <div class="form-group required">
                   <label class="control-label" template-select for="templateSelect">Select your Template</label>
                   <body>
                     <div id="responseTemplate"></div>
                   </body>
                </div>
                  <select class="form-control" template-select id="templateSelect" name="templateSelect" required>
                     <option value="" disabled selected>Select your Template</option>
                     <option id= "newsletterOption" value="ULVR_newsletter_v1">Newsletter</option>
                     <option id = "prefCentreOption" value="ULVR_prefCentre_v1">Preference Centre</option>
                     <option id="qandatemplateOption" value="qandatemplate">Q&A</option>
                  </select><br/>

              <div class="form-group required">
                  <div style='display:none;' id='formJourney'>
                    <label class="control-label">FormJourney Name</label>
                    <input type='text' class='text' name='formJourney' id="formJourneytf" value size='42' required="required"/>
                  </div>
              </div>

              <div class="form-group">
                 <div style='display:none;' id='terms'>T&amp;C URL
                   <label class="control-label" for="terms"></label>
                   <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" id="termstf" name="terms" class="form-control" placeholder="Enter a T&C URL " maxLength="80"/><span></span>
                 </div>
              </div>

              <div class="form-group required">
                 <div style='display:none;' id='campaignId'>
                   <label class="control-label">Campaign ID</label><br/>
                   <input type='text' class='text' name='campaignId' id="campaignIdtf" value size='42' required/>
                   <br/>
                  </div>
              </div>

           </div>
         </div>
       </div>

        <div class="row bg-light mb-1 pt-1">

          <div class="col-8 offset-1">
            <div th:if="${showTestScreensets}">

              <div class="form-group screenChoiceBox">
                <label class="switch">
                  <input type="checkbox" class="success" value="ULVR_newsletter_v3" name="formJourney">
                  <span class="slider"></span>
                </label>
                <label class=" ml-2 mt-1">Default Newsletter v3</label>
              </div>

              <div class="form-group screenChoiceBox">
                <label class="switch">
                  <input type="checkbox" class="success" value="ULVR_newsletter_reCaptcha_v1" name="formJourney">
                  <span class="slider"></span>
                </label>
                <label class=" ml-2 mt-1">Default Newsletter with reCaptcha</label>
              </div>

              <div class="form-group screenChoiceBox">
                <label class="switch">
                  <input type="checkbox" class="success" value="ULVR_newsletterWithPref_v1" name="formJourney">
                  <span class="slider"></span>
                </label>
                <label class=" ml-2 mt-1">Default Newsletter with Preference Center</label>
              </div>

              <div class="form-group screenChoiceBox">
                <label class="switch">
                  <input type="checkbox" class="success" value="ULVR_fullRegistration_v1" name="formJourney">
                  <span class="slider"></span>
                </label>
                <label class=" ml-2 mt-1">Default Registration Login</label>
              </div>

            </div>

          </div>
        </div>


      </div>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" data-qanda name="qanda" id="qanda" value=""/>
    <input type="hidden" data-brand-code name="brandCode" id="brandCode" value=""/>
    <input type="hidden" data-data-center name="dataCentre" id="dataCentre" value=""/>


    <div style='display:none;' id='qandaForm'><br/>
      <div id="questionAndAnswersList">
      </div>

      <div class="col-8 offset-1">
        <div class="footnote">
          <button type="button" class="btn btn-default btn-circle btn-xl" id="new-questionAnswer-icon" data-toggle="modal" data-target="#qandaModal" data-backdrop="static">
            <i class="fa fa-plus"></i>
          </button>
          <label class="pl-2" for="new-questionAnswer-icon">Add Q&A Pairs</label>
        </div>
      </div>
    </div>

  </form>
</div>

<div class="modal fade" role="dialog" id="qandaModal">
  <div class="modal-dialog modal-xl">
    <form id="addQAForm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-header-secondary">Question & Answer Selection</div>
        </div>

        <div class="modal-body">
          <div class="row bg-light mb-1 pt-1">
            <div class="col-10 offset-1">

              <div data-qa-console-log class="p-2 mb-2 mt-2 rounded border d-none">
                 <span id="close-qa-console-log">
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </span>
                  <div data-message-log id="qa-form-messages"></div>
              </div>

              <div class="form-group required">
                <label class="control-label" for="categories">Categories</label>
                <select class="form-control" categories-select id="categories" name="categories" required onchange="addQAForm.getCategorySelect(this)">
                  <option value="" disabled selected>Select your categories</option>
                  <option th:each="category : ${categories}" th:value="${category}"
                          th:text="${category}"></option>
                </select>
              </div>

              <div class="form-group required">
                <label class="control-label" for="qaquestion">Select your Question</label>
                <select class="form-control" question-select id="qaquestion" name="qaquestion" required onchange="addQAForm.getQuestionSelect(this)">
                  <option value="" disabled selected>Select your Question</option>
                  <option th:each="question : ${questions}" th:value="${question.questionId}" th:text="${question.questionText}"></option>
                </select>
              </div>

              <div class="row">
                <p>
                  <strong>Available answers</strong><br/>
                  <select class="form-control answerInput" answer-select id="answer" name="answer" multiple="multiple">
                    <option th:each="answer : ${answers}" th:value="${answer.answerId}" th:text="${answer.answerText}"></option>
                  </select>
                </p>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button data-submit-button class="btn btn-success" type="submit" form="addQAForm" id="addQAFormBt">Confirm</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div th:replace="footer_js :: js"></div>

<script type="application/javascript">
  var qandaOptions = [];
  var addFormJourney;
  ulgigya.domReady(function () {
    addFormJourney = new ulgigya.AddFormJourney({
      addFormJourneyForm: $('#addFormJourney'),
      apiKey: $('#apiKey'),
      validateRespMsg: $('#validateRespMsg'),
      marketSelect: $('[data-market-select]'),
      languageSelect: $('[language-select]'),
      templateSelect: $('[template-select]'),
      formMessages: $('#form-messages'),
      consoleLog: $('[data-console-log]'),
      brandCodeInput: $('[data-brand-code]'),
      dataCenterInput: $('[data-data-center]'),
      qanda: qandaOptions
    });
  });

  var addQAForm;
  ulgigya.domReady(function () {
    addQAForm = new ulgigya.QAFormPopup({
      addQAFormPage: $('#addQAForm'),
      categorySelect: $('[categories-select]'),
      answerInput: $('.answerInput'),
      questionSelect: $('[question-select]'),
      qaConsoleLog: $('[data-qa-console-log]'),
      answerSelect: $('[answer-select]'),
      qaFormMessages: $('#qa-form-messages'),
      qanda: qandaOptions
    });
  });

  function getCopyText(event, fieldId) {
    event.preventDefault();

    // Create a temporary element
    var $tmp = $("<input />");

    // Add the temp el to the DOM
    $("body").append($tmp);

    // Add the text to the temp el and select it
    $tmp.val(document.getElementById(fieldId).innerHTML).select();

    // Tell the broswer to copy the selection
    document.execCommand("copy");

    // Remove the temporary element
    $tmp.remove();
  }
</script>
<script th:src="@{/js/formValidation.js}"></script>
<!--script id="myTemplate" type="text/x-jquery-tmpl"></script-->
<script>

  $(document).ready(function(){

    $('#templateSelect').on('change', function() {

      $('#formJourney').hide();
      $('#terms').hide();
      $('#campaignId').hide();
      $('#qandaForm').hide();
      $('#formJourneytf').prop('required',false);
      $('#campaignIdtf').prop('required',false);
      $('#termstf').prop('required',false);
      $("#formJourneytf").val("");
      $("#campaignIdtf").val("");
      $("#termstf").val("");

      var id = $(':selected', this).attr("id");
      if (id === 'newsletterOption') {
        $('#formJourney').show();
        $('#terms').show();
        $('#formJourneytf').prop('required',true);
      }
      else if (id === 'prefCentreOption') {
        $('#formJourney').val('ULVR_prefCentre_v1');
      }
      else if (id === 'qandatemplateOption') {
        $('#formJourney').show();
        $('#terms').show();
        $('#campaignId').show();
        $('#qandaForm').show();
        $('#formJourneytf').prop('required',true);
        $('#campaignIdtf').prop('required',true);
      }
    });
  });

</script>
</body>
</html>