<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="head::head"></div>
  <div th:replace="head-css::css"></div>
  <title>Consumer Profile Store - Create Sandbox Profile Store</title>
</head>
<body>
<div id="background-wrapper">
  <form id="createProfileStore">
    <div th:replace="header::header('createProfileStore')"></div>
    <div class="header-secondary-outer">
      <div class="header-secondary-inner">
        <div class="container-fluid">

          <nav class="row">
            <div class="col-1 pl-0">
              <a th:href="@{/myProfileStore}" class="nav-secondary">&lt; Back</a>
            </div>
            <div class="col-3">
              <h5 class="title">Create Sandbox Profile Store</h5>
            </div>
            <div class="col-8 pr-0 text-right">
              <a th:href="@{/myProfileStore}" class="btn btn-light">Cancel</a>
              <button data-submit-button class="btn btn-success" type="submit" form="createProfileStore">Confirm</button>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="container-fluid">

        <div class="row bg-light mb-1 pt-2">
          <div class="col-10 offset-1">
            <p>Admin only - Use the form to create new Sandbox profile stores</p>
            <hr/>
            <div data-console-log class="p-2 mb-2 mt-2 rounded border d-none">
              <div id="form-messages"></div>
              <a href="javascript:$('#form-messages').empty();void(0);">Clear logs</a>
            </div>
          </div>
        </div>
        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group required">
              <label class="control-label" for="country">Market</label>
              <input class="form-control" type="text" name="country"
                     id="country" placeholder="Enter a Market"/>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group required">
              <label class="control-label">Brand Code</label>
              <input class="form-control" type="text" name="brandCode"
                     id="brandCode" placeholder="Enter a Brand Code"/>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group required">
              <label class="control-label">Brand Name</label>
              <input class="form-control" type="text" name="brandName"
                     id="brandName" placeholder="Enter a Brand Name"/>
            </div>
          </div>
        </div>

        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group position-relative">
              <label for="campaignId">Campaign ID</label>
              <input
                  id="campaignId" type="text" name="campaignId" class="form-control"
                  placeholder="Enter a Campaign ID "/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="emailServiceId">Email Service ID</label>
              <input id="emailServiceId" type="text" name="serviceIdEmail" class="form-control"
                     placeholder="Enter a Service ID "/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="postServiceId">Post Service ID</label>
              <input id="postServiceId" type="text" name="serviceIdPost" class="form-control"
                     placeholder="Enter a Post Service ID "/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="smsServiceId">SMS Service ID</label>
              <input id="smsServiceId" type="text" name="serviceIdSms" class="form-control"
                     placeholder="Enter an SMS Service ID "/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="mmsServiceId">MMS Service ID</label>
              <input id="mmsServiceId" type="text" name="serviceIdMms" class="form-control"
                     placeholder="Enter an MMS Service ID "/><span></span>
            </div>

            <div class="form-group position-relative">
              <label for="phoneServiceId">Phone Service ID</label>
              <input id="phoneServiceId" type="text" name="serviceIdPhone" class="form-control"
                     placeholder="Enter a Phone Service ID "/><span></span>
            </div>

            <div class="form-group">
              <label for="newsletterId">Newsletter Service ID</label>
              <div id="newsletter-inputs-container">
                <div class="position-relative">
                  <input type="text" id="newsletterId" name="serviceIdNewsletters" class="form-control newsletterInput"
                         placeholder="Enter a Newsletter Service ID "/><span></span>
                </div>
              </div>
              <div class="footnote"><span class="fas fa-plus" id="new-newsletter-icon"></span> Add an additional Newsletter Service ID</div>
            </div>

            <div class="form-group required position-relative">
              <label for="url" class="control-label">Trusted URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="url" id="url" class="form-control" placeholder="Enter a Trusted URL" required/><span></span>
            </div>
          </div>
        </div>
        <div class="row bg-light mb-1 pt-1">
          <div class="col-4 offset-1">
            <div class="form-group required">
              <label class="control-label" for="doubleOptInRequired">Double Opt-In</label>
              <select class="form-control" id="doubleOptInRequired" name="doubleOptInRequired" required>
                <option value="" disabled selected> ---</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
          </div>
          <div class="col-4 offset-1">
            <div class="form-group required">
              <label class="control-label" for="dataCentre">Data Centre</label>
              <select class="form-control" id="dataCentre" name="dataCentre" required>
                <option value="" disabled selected>---</option>
                <option value="eu1">EU</option>
                <option value="us1">US</option>
                <option value="au1">AU</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row bg-light mb-1 pt-1">
          <div class="col-3 offset-1">
            <div class="form-group position-relative">
              <label class="control-label" for="terms">T&amp;C URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="terms" id="terms" class="form-control" placeholder="Enter a T&C URL "/><span></span>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group required position-relative">
              <label class="control-label" for="privacyLink">Privacy URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="privacyLink" id="privacyLink" class="form-control" placeholder="Enter a Privacy URL " required/><span></span>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group required position-relative">
              <label class="control-label" for="cookiesLink">Cookie URL</label>
              <input type="url" pattern="^https:\/\/?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" name="cookiesLink" id="cookiesLink" class="form-control" placeholder="Enter a Cookie URL " required/><span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" th:name="languageCode" th:value="en"/>

  </form>

  <div th:replace="footer_js :: js"></div>
</div>
<script type="application/javascript">

  var createProfileStore;
  ulgigya.domReady(function () {
    createProfileStore = new ulgigya.CreateProfileStore({
      createProfileStoreForm: $('#createProfileStore'),
      formMessages: $('#form-messages'),
      newsletterInput: $('.newsletterInput'),
      brandNameSelect: $('[data-brand-name-select]'),
      marketSelect: $('[data-market-select]'),
      dataCenterInput: $('[data-data-center]'),
      brandInput: $('[data-brand]'),
      brandCodeInput: $('[data-brand-code]'),
      consoleLog: $('[data-console-log]'),
      createSandboxStore: true
    });
  });

</script>
<script th:src="@{/js/newNewsletterInput.js}"></script>
</body>
</html>