<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="legacyHeader :: header"></div>
    <div th:replace="legacyCss :: css"></div>
    <div th:replace="legacyJs :: js"></div>
    <title>Delete Site - Consumer Profile Store</title>
    <link th:href="@{/css/deletesite.css}" rel="stylesheet"/>
    <script th:src="@{/js/deletesite.js}"></script>
</head>
<body>
<div id="background-wrapper">
    <header id="App-header">
        <div id="Logo">
            <img th:src="@{/img/unilever-logo-white.png}" id="App-logo" alt="logo"/>
        </div>
        <div class="pages">
            <p id=""></p>
        </div>
    </header>
    <div class="banner">
        <div class="pageTitle">
            <h3>Delete Sites</h3>
        </div>
        <div class="buttons">
            <a th:href="@{/mySites}">
                <button class="cancelButton">Cancel</button>
            </a>
            <a href="">
                <button class="confirmButton" form="deleteSite" type="submit">Confirm</button>
            </a>
        </div>
    </div>
    <form id="deleteSite">
        <div id="row">
            <div id="rLeft">
                <div id="pIdBox">
                <p class="subTitle">Partner ID <span class="required"> *</span></p>
                <input type="text" name="partnerID" class="textInput" placeholder="Enter a Partner ID " maxLength="8"
                       pattern="[0-9]" required/>
                </div>
                <div id="sitesListBox">
                </div>
            </div>
            <div id="rRight">
                <p id="logSubTitle">Creation Log
                <div id="form-messages"></div>
            </div>
        </div>
    </form>
</div>
</body>
</html>