<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="legacyHeader :: header"></div>
    <div th:replace="legacyCss :: css"></div>
    <div th:replace="legacyJs :: js"></div>
    <title>Consumer Profile Store - Error page</title>
    <link th:href="@{/css/landingPage.css}" rel="stylesheet" />
<body>
<div class="landingPage">
    <div class="leftBox">
        <img th:src="@{/img/unilever-logo.png}" alt="Unilever Logo" class="logo" />
    </div>
    <div class="rightBox">
        <h2>Unilever Consumer Profile Store - Error Page</h2>
        <h3 th:text="${status + ' ' + error}"></h3>
        <div class="lPButton">
            <a th:href="@{/myProfileStore}">CONTINUE ></a>
        </div>
    </div>
</div>
</body>
</html>