<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="legacyHeader :: header"></div>
    <div th:replace="legacyCss :: css"></div>
    <div th:replace="legacyJs :: js"></div>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Hello World</title>
</head>
    <body>
        <h1 th:text="'Hello, ' + ${name} + '!'"> </h1>
        <a th:href="@{/myProfileStore}"><button> Back </button></a>
    </body>
</html>