!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="css" th:remove="tag">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/forms.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/components.css}"/>
</div>
</html>