<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header-primary-outer" th:fragment="header(page)">
    <div class="header-primary-inner">
        <div class="container-fluid">
            <header class="row">
                <div class="col-2 pl-0"><a th:href="@{/myProfileStore}"><img th:src="@{/img/unilever-logo-white.png}" class="logo" alt="logo"/></a></div>
                <div class="col-10 pr-0 text-right nav-primary">
                    <a th:href="@{/myProfileStore}"  title="My Profile Stores" th:class="${page == 'profiles'} ? 'active'" th:classappend="'nav-spacing'">My Profile Stores</a>
                    <a href="/logout" class="nav-spacing" title="Logout">Logout</a>
                </div>
            </header>
        </div>
    </div>
</div>
