<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="legacyHeader :: header"></div>
  <div th:replace="legacyCss :: css"></div>
  <div th:replace="legacyJs :: js"></div>
  <title>Consumer Profile Store</title>
  <link th:href="@{/css/landingPage.css}" rel="stylesheet"/>
<body>
<div id="background-wrapper">
  <div class="landingPage">
    <div class="leftBox">
      <img th:src="@{/img/unilever-logo.png}" alt="Unilever Logo" class="logo"/>
    </div>
    <div class="rightBox">
      <h2>Unilever Consumer Profile Store (CPS) web application</h2>
      <p>Unilever Consumer Profile Store is a web application that facilitates the creation and maintenance of consumer-facing websites and forms. Forms are
        presented in a specific order, and they are called 'User Journeys.' These can be edited in their look, copy and translations but they cannot be changed
        manually by agencies' users, e.g., in their order or in their structure.</p>
      <p>User Journeys include all the different steps and forms of a specific interaction with a user. E.g., in a signup user jouney, users will start from the
        initial signup form (a), continue to the validation email screen (b), then receive the validation email (c), and finally confirm their identity and
        welcome message (d).</p>
      <div class="lPButton">
        <a th:href="@{/login}">CONTINUE TO LOGIN SCREEN ></a>
      </div>
    </div>
  </div>
</div>
</body>
<div th:replace="watermark :: watermark"></div>
</html>