<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="css" th:remove="tag">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common.css}"/>
</div>
</html>