<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head-css::css"></div>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/login.css}"/>
    <title>Consumer Profile Store</title>
</head>
<body>
<div id="background-wrapper">
<div id="loginPage">

    <div class="header-primary-outer">
        <div class="header-primary-inner">
            <header class="row">
                <div class="col-2 pl-0"><a th:href="@{/login}"><img th:src="@{/img/unilever-logo-white.png}"
                                                                    class="logo" alt="logo"/></a></div>

            </header>

        </div>
    </div>

    <div id="loginHeader">
        <h1 align="Center"><strong>Welcome to the Consumer Profile Store</strong></h1>
    </div>

    <div class="content-wrapper">

        <div class="row">

            <div class="column">
                <div id="SSOLoginBox">
                    <h2 align="center">Unilever sign-in</h2>
                    <div class="row">
                        <div id="logoBox">
                            <img th:src="@{/img/unilever-logo.png}" alt="Unilever Logo" id="uniLogo" width="100%"
                                 height="100%"/>
                        </div>
                        <div class="ssoTextColumn">
                            <p align="left">Unilever employees please access the Consumer Profile Store via our single
                                sign-on feature</p>
                        </div>
                    </div>
                    <br>
                    <div class="row ssoButton" align="middle">
                        <a th:href="@{/ssoLogin}">
                            <button class="btn btn-success">SINGLE SIGN ON</button>
                        </a>
                        <p id="ssoLoginError" th:if="${ssoError != null}" th:text="${ssoError}"></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div id="loginBox">
                    <form th:action="@{/login}" method="post">
                        <h2 align="center">Agency sign-in</h2>
                        <h6 class="control-label">Login using your UDHD credentials</h6>
                        <p id="loginError" th:if="${error != null}" th:text="${error}"></p>

                        <label class="control-label">Email Address:</label>
                        <input type="email" required placeholder="Enter email" class="form-control" name="username"/>

                        <label class="control-label">Password:</label>
                        <input type="password" required placeholder="Enter password" class="form-control"
                               name="password"/>
                        <p>If your password includes either "?" or "#", reset your <br/> password through the below
                            link.</p>
                        <a href="https://udhd-digitalhelpdesk.unilever.com/forgotpassword.aspx" id="forgotCreds">Forgot
                            password?</a>
                        <button align="left" class="btn btn-success" id="submitBtn" type="submit">Login</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
</div>
<script type="text/javascript" th:src="@{/public/js/libs/jquery-3.4.1.min.js}"></script>
<div th:replace="watermark :: watermark"></div>
<script th:src="@{/js/formValidation.js}"></script>
</body>
</html>