<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="head::head"></div>
  <div th:replace="head-css::css"></div>
  <title>Consumer Profile Store - My Profile Stores</title>
</head>
<body>
<div id="background-wrapper">

  <div class="header-wrapper">
    <div th:replace="header::header('profileStore')"></div>
    <div class="header-secondary-outer">
      <div class="header-secondary-inner">
        <div class="container-fluid">
          <nav class="row">
            <div class="col-3 pl-0">
              <h5 class="title">My Profile Stores</h5>
            </div>
            <div class="col-9 pr-0 text-right">
              <a th:href="@{/createProfileStorePage}">
                <button class="btn btn-success">Create a New Profile Store</button>
              </a>
              <a th:href="@{/addFormJourney}">
                <button class="btn btn-success">Add a New Form Journey</button>
              </a>
              <!--<a th:href="@{/addChildSite}" ><button class="btn btn-success">Add Child Site</button></a>-->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>


  <div class="content-wrapper">

    <div class="container-fluid">

      <div class="row">
        <div class="col-3 pl-0">
          <div class="site-card site-card--empty">
            <div class="no-info">
              <a th:href="@{/createProfileStorePage}"><em class="fas fa-plus"></em><br/>Create a New Profile Store</a>
            </div>
          </div>
        </div>

        <!-- examples of other site cards -->
        <!--
          HTML standards do not allow double minus within a comment so the examples showing the class for site-card-[-empty|-info]
          Are to stop IE11 complaining about this comment. Simply remove the []
        -->
        <!-- <div class="col-3 pl-0">
             <div class="site-card site-card-[-empty]">
                 <div class="no-info">
                     <i class="fas fa-ban"></i></span><br />No sites match your criteria
                 </div>
             </div>
         </div>
         <div class="col-3 pl-0">
             <div class="site-card site-card-[-info]">
                 <h6>dove site</h6>
                 <p>http://www.dove.com</p>
             </div>
         </div>-->
        <!-- end examples of other site cards -->
      </div>


    </div>
  </div>
  <div th:replace="footer_js :: js"></div>
</div>
</body>

</html>